﻿#modal-overlay {
  background: #000;
  filter: alpha(opacity=60);
  height: 100%;
  left: 0;
  -moz-opacity: 0.6;
  -webkit-opacity: 0.6;
  -ms-filter: alpha(opacity=60);
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

#modal-container {
  background: #fff;
  border: 1px solid #ababab;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  height: auto;
  padding: 10px;
  font-family: arial,sans-serif;
  font-size: 14px;
  position: absolute;
  z-index: 998;
}

#modal-header {
  height: 20px;
  overflow: hidden;
  clear: both;
}

#modal-close {
  background: #fff url('../images/jsmodal/modal-close.png') no-repeat center center;
  cursor: pointer;
  display: block;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -webkit-opacity: 0.6;
  -ms-filter: alpha(opacity=60);
  opacity: 0.6;
  float: right;
  height: 20px;
  width: 20px;
}
#modal-close:hover {
  filter: alpha(opacity=100);
  -moz-opacity: 1.0;
  -webkit-opacity: 1.0;
  -ms-filter: alpha(opacity=100);
  opacity: 1.0;
}

#modal-content {
  display: block;
  padding: 0 20px 10px 20px;
  z-index: 999;
}

#modal-container.modal-loading {
  background: #fff url('../images/jsmodal/loading.gif') no-repeat center center;
}